<%= render 'shared/navbar' %>

<div class="landing-info">
  <div class="decks">
    <div class="deck exposed">
      <h2><%= link_to 'Exposed', exposed_cards_path  %></h2>
    </div>

    <div class="deck break-the-ice">
      <h2><%= link_to 'Break The Ice', break_the_ice_cards_path %></h2>
    </div>

    <div class="deck risky_business">
      <h2><%= link_to 'Risky Business', risky_business_cards_path %></h2>
    </div>

    <div class="deck edgy">
      <h2><%= link_to "Let's Get Edgy", lets_get_edgy_cards_path %></h2>
    </div>

    <div class="deck play_safe">
      <h2><%= link_to 'Play It Safe', play_it_safe_cards_path %></h2>
    </div>

    <div class="deck custom">
      <h2><%= link_to 'Custom Cards', custom_cards_path %></h2>
    </div>
  </div>

</div>


